################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureDownloaders.Models/bin/Debug/net5.0
